/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #0A1A23;
    color: #FFF;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

a {
    color: #C8731E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #0A1A23;
    text-align: center;
    padding: 20px 0;
}

header img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2em;
}

/* Main sections */
.section {
    padding: 10px 0;
}

#welcome {
    background-color: #0A1A23;
    text-align: center;
}

#articles {
    background-color: #0A1A23;
    text-align: center;
    height: 15rem;
    overflow: scroll;
}

#articles h2 {
    color: #C8731E;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: inline-block;
    background-color: #77311E;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #C8731E;
}

/* Footer */
footer {
    background-color: #0A1A23;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 0.9em;
}

